/*.container{
    background-image: url('../public/image/img1.jpg');
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    height: 730px;
    width: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}*/
.a1{
    display: grid;
   
    place-items: center; /* Horizontal and Vertical centering */
     margin-top: 180px;
}
@media only screen and (min-width: 769px) {
.a2{
   color: cadetblue;
}
}
@media only screen and (max-width: 440px) {
    .a2{
        color:aquamarine;
    }
}
.a3
{
    color:azure;
}
.a4{
    color:azure;

}
.b1
{
    background-color: brown;
    color: white;
    width:167px;
    height:36px;
    border-radius: 20px;

}
#b4{
    color: brown ;
}
@media only screen and (min-width: 769px) {
#s1{
    height:728px;
    background-image: url('../public/image/pexels-cottonbro-studio-9943236.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
 
}
}
@media only screen and (max-width: 440px) {
    #s1 {
      height: 858px;
    /*  background-image: url('../public/image/Wallpaper.jpeg');*/
  
    background-image: url('../public/image/diego-ph-5LOhydOtTKU-unsplash.jpg');
    background-size: cover;
      background-repeat: no-repeat;

     
    }
  }
  