#l1
{
    text-align: center;
    
}
#l2{
width: 400px;
    height: 40px;
    border-radius: 8px;
    color: white;
    background-color: rgb(4, 93, 93);
}

@media only screen and (min-width: 769px) {
    #t1{
        height:728px;
        background-image: url('../public/image/pexels-cottonbro-studio-9943236.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: aqua;
     
    }
    }
    @media only screen and (max-width: 490px) {
        #t1 {
          height: 858px;
          background-image: url('../public/image/windows-hNiNxhUfCfQ-unsplash.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          
    
         
        }
      }
#aa1{
    margin-bottom: 150px;
}